<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/bootstrap-4.3.1.min.css">
  <link rel="stylesheet" href="css/line-awesome-font-awesome-1.1.0.min.css">
  <link rel="stylesheet" href="css/jquery.contextMenu-2.8.0.min.css">
  <title>Media Explorer</title>
</head>
<style>
  th > .la { font-size: 1.5rem; }
  td.button-td {
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }
</style>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="javascript:location.reload();">Media Explorer</a>
    <span class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </span>
  </nav>
  <div class="container-fluid mt-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active">Home</li>
    </ol>
    <div class="row">
      <div class="col-sm-8">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" width="30%">Name</th>
              <th scope="col">Access Date</th>
              <th scope="col">Modify Date</th>
              <th scope="col">Create Date</th>
              <th scope="col" width="5%">Edit</th>
              <th scope="col" width="5%">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td>..</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
          <form>
            <div class="form-group">
              <textarea class="form-control" id="debug" rows="30"></textarea>
            </div>
          </form>
      </div>
    </div>
  </div>
  <!-- Input Modal -->
  <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inputModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal01" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModal01">Error!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Something wrong happened.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/popper-1.5.0.min.js"></script>
<script src="js/bootstrap-4.3.1.min.js"></script>
<script src="js/jquery.contextMenu-2.8.0.min.js"></script>
<script src="js/jquery.ui.position-2.8.0.min.js"></script>
<script src="js/index.js"></script>
</html>